body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.book-details, .vinyl-details {
  padding: 40px 15px;
  text-align: center;
}

.new-item {
    text-align: center;
    margin: 0 auto;
    width: 40%;
}
